@*
////-----------------------------------------------------------------------
//// <copyright file="Index.cshtml" company="Fluent.Infrastructure">
////     Copyright © Fluent.Infrastructure. All rights reserved.
////
//// </copyright>
////-----------------------------------------------------------------------
/// This is a test file created by Fluent Infrastructure in order to
/// illustrate its operation.
/// See more at: https://github.com/dn32/Fluent.Infrastructure/wiki
////-----------------------------------------------------------------------
*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Forum", "New", "Forum")
</div>