<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="url" value="http://testing.apirest.cl" />
    <add key="GenerarRcof" value="/api/generar/rcof" />
    <add key="EnviarRcof" value="/api/enviar/rcof" />
    <add key="GenerarDte" value="/api/generar/dte" />
    <add key="GenerarDteJson" value="/api/generar/dte/file" />
    <add key="GenerarEnvioDte" value="/api/generar/enviodte" />
    <add key="GenerarEnvioBoleta" value="/api/generar/envioboleta" />
    <add key="EnviarEnvioDte" value="/api/enviar/enviodte" />
    <add key="EnviarEnvioBoleta" value="/api/enviar/envioboleta" />
    <add key="ConsultarEstadoEnvio" value="/api/envio/estado" />
    <add key="Pdf417Dte" value="/api/pdf417/dte" />
    <add key="Pdf417Envio" value="/api/pdf417/envio" />
    <add key="BoletaCartaPdf" value="/api/dte/pdf/boleta/letter/pdf" />
    <add key="BoletaCartaBase64" value="/api/dte/pdf/boleta/letter/base64" />
    <add key="FacturaCartaBase64" value="/api/dte/pdf/factura/letter/base64" />
    <add key="FacturaCartaPdf" value="/api/dte/pdf/factura/letter/pdf" />
    <add key="Boleta80mmPdf" value="/api/dte/pdf/boleta/80/pdf" />
    <add key="Boleta80mmBase64" value="/api/dte/pdf/boleta/80/base64" />
    <add key="JsonEnvio" value="/api/test/envio" />
    <add key="JsonEntrada" value="/api/test/dte" />
    <add key="JsonPdf" value="/api/test/pdf" />
    <add key="apikey" value="2318-J320-6378-2229-4600" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>